*
!.gitignore
!README.md
!tfe.config
tb/input*
tb/step*
!/tb/**
!/tb/input0/**
!/tb/input1/**
!/tb/input2/**
!/tb/output0/**
!/tb/output1/**
!/tb/output2/**
!/tb/step0/**
!/tb/step1/**
!/tb/step2/**
!/checkpoint/**
!train_model_on_plaintext.py
!model_server.py
!model_prediction.py
!prediction_client.py
!tfe_running.png
!tfe_running.mp4